[Container]
Image=ghcr.io/advplyr/audiobookshelf:2.29.0
AutoUpdate=registry
Network=homelab.network
ContainerName=audiobookshelf
NoNewPrivileges=true
Volume=audiobookshelf-audiobooks:/audiobooks
Volume=audiobookshelf-books:/books
Volume=audiobookshelf-podcasts:/podcasts
Volume=audiobookshelf-config:/config
Volume=audiobookshelf-metadata:/metadata
Environment=TZ=Europe/Amsterdam

[Service]
Restart=always

[Install]
WantedBy=default.target
