[Container]
Image=docker.io/library/caddy:latest
AutoUpdate=registry
Network=homelab.network
ContainerName=caddy
PublishPort=80:80/tcp
Volume=%h/homelab/config/Caddyfile:/etc/caddy/Caddyfile:ro

[Install]
WantedBy=default.target
