[Unit]
After=forgejo.container forgejo-dind.container
Requires=forgejo.container forgejo-dind.container

[Container]
Image=code.forgejo.org/forgejo/runner:11
AutoUpdate=registry
Network=homelab.network
ContainerName=forgejo-runner
Environment=DOCKER_HOST=tcp://forgejo-dind:2375
Environment=FORGEJO_INSTANCE_URL=http://forgejo:3000
Secret=FORGEJO_RUNNER_SECRET,type=env,target=FORGEJO_RUNNER_SECRET
Volume=%h/homelab/config/forgejo-runner.sh:/data/forgejo-runner.sh:ro
Entrypoint=/data/forgejo-runner.sh

[Service]
Restart=always

[Install]
WantedBy=default.target
