[Unit]
After=forgejo.container forgejo-dind.container
Requires=forgejo.container forgejo-dind.container

[Container]
Image=code.forgejo.org/forgejo/runner:11
AutoUpdate=registry
Network=homelab.network
ContainerName=forgejo-runner
Volume=%h/homelab/config/forgejo-runner:/data/.runner:Z
Environment=DOCKER_HOST=tcp://forgejo-dind:2375
Exec=forgejo-runner daemon


[Service]
Restart=always

[Install]
WantedBy=default.target
