[Unit]
After=forgejo.container
Requires=forgejo.container

[Container]
Image=code.forgejo.org/forgejo/runner:11
AutoUpdate=registry
Network=homelab.network
ContainerName=forgejo-runner
Volume=runner-data:/data:Z
Environment=GITEA_INSTANCE_URL=http://forgejo:3000/
Secret=FORGEJO_RUNNER_REGISTRATION_TOKEN,type=env,target=GITEA_RUNNER_REGISTRATION_TOKEN


[Install]
WantedBy=default.target
