[Unit]
After=samba.container
Requires=samba.container

[Container]
Image=docker.io/jellyfin/jellyfin:2025090805
AutoUpdate=registry
ContainerName=jellyfin
Network=homelab.network
Volume=jellyfin-config:/config:Z
Volume=jellyfin-cache:/cache:Z
Volume=jellyfin-media:/media:Z

[Service]
# Inform systemd of additional exit status
SuccessExitStatus=0 143
Restart=always

[Install]
WantedBy=default.target
