[Container]
Image=docker.io/dockurr/samba:4.21
AutoUpdate=registry
ContainerName=samba
Network=homelab.network
PublishPort=445:445/tcp
Volume=jellyfin-media:/samba:Z
Environment=NAME=Media
Secret=SAMBA_USER,type=env,target=USER
Secret=SAMBA_PASSWORD,type=env,target=PASS

[Service]
SuccessExitStatus=0 126

[Install]
WantedBy=multi-user.target
