[Unit]
After=forgejo.container
Requires=forgejo.container

[Container]
Image=docker.io/library/nginx:latest
AutoUpdate=registry
Network=homelab.network
ContainerName=nginx
PublishPort=80:80/tcp
Volume=%h/homelab/quadlet/reverse-proxy/default.conf:/etc/nginx/conf.d/default.conf:ro

[Service]
# Inform systemd of additional exit status
SuccessExitStatus=0 143

[Install]
WantedBy=multi-user.target
