[Unit]
After=forgejo.container jellyfin.container
Requires=forgejo.container jellyfin.container

[Container]
Image=docker.io/library/nginx:latest
AutoUpdate=registry
Network=homelab.network
ContainerName=nginx
PublishPort=80:80/tcp
PublishPort=445:445/tcp
Volume=%h/homelab/quadlet/reverse-proxy/nginx.conf:/etc/nginx/nginx.conf:ro

[Service]
# Inform systemd of additional exit status
SuccessExitStatus=0 143

[Install]
WantedBy=multi-user.target
