[Unit]
After=forgejo.container
Requires=forgejo.container

[Container]
Image=docker.io/gitea/act_runner:latest
AutoUpdate=registry
UserNS=keep-id
Network=homelab.network
ContainerName=forgejo-runner
Volume=runner-data:/data
Environment=GITEA_INSTANCE_URL=http://forgejo:3000/
Secret=FORGEJO_RUNNER_REGISTRATION_TOKEN,type=env,target=GITEA_RUNNER_REGISTRATION_TOKEN


[Install]
WantedBy=default.target
