[Unit]
After=postgres.container
Requires=postgres.container

[Container]
Image=codeberg.org/forgejo/forgejo:1.21
AutoUpdate=registry
ContainerName=forgejo
UserNS=keep-id
Network=homelab.network
Volume=forgejo-data:/var/lib/gitea
Volume=forgejo-config:/etc/gitea
Environment=FORGEJO__database__DB_TYPE=postgres 
Environment=FORGEJO__database__HOST=postgres:5432
Environment=FORGEJO__database__NAME=forgejo 
Environment=FORGEJO__security__INSTALL_LOCK=true 
Secret=DATABASE_USER,type=env,target=FORGEJO__database__USER
Secret=DATABASE_PASSWORD,type=env,target=FORGEJO__database__PASSWD
Secret=FORGEJO_SECRET_KEY,type=env,target=FORGEJO__database__SECRET_KEY

[Install]
WantedBy=default.target
