[Container]
Image=docker.io/library/postgres:15-alpine
AutoUpdate=registry
UserNS=keep-id
Network=homelab.network
ContainerName=postgres
Volume=postgres-data:/var/lib/postgresql/data
Environment=POSTGRES_DB=forgejo
Secret=DATABASE_USER,type=env,target=POSTGRES_USER
Secret=DATABASE_PASSWORD,type=env,target=POSTGRES_PASSWORD

[Install]
WantedBy=default.target
