[Unit]
Description=Nginx Reverse Proxy
After=network.target

[Service]
Type=simple
ExecStart=/etc/homelab/homelab-ctl run nginx
ExecStop=/etc/homelab/homelab-ctl stop nginx 
Restart=always

[Install]
WantedBy=multi-user.target
