[Unit]
Description=PostgreSQL container
After=network.target

[Service]
Type=simple
ExecStart=/etc/homelab/homelab-ctl run postgres
ExecStop=/etc/homelab/homelab-ctl stop postgres
Restart=always

[Install]
WantedBy=multi-user.target
